


 <!-- <app-modal #modalComponent></app-modal> -->
<div class="modal-container">
  <div class="mx-5 my-4  my-custom-container" >
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [autoApply]="false" [showCustomRangeLabel]="false"
      [alwaysShowCalendars]="true" [linkedCalendars]="true" [showClearButton]="false" [showCancel]="true"
      [keepCalendarOpeningWithRange]="true"  (rangeClicked)="rangeClicked()"
      [closeOnAutoApply]="true"
      (choosedDate)="choosedDate($event)"
      (click)="openModal()"
      class="calender-input"
      />
  
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" *ngIf="showModal" aria-labelledby="exampleModalLabel" aria-hidden="true"  (click)="onModalClick($event)">
  <div class="modal-dialog">
      <div class="modal-content">
       <div class="modal-body">
        <p class="left-heading">View data by </p>
        <div class="flex-row">
          <input type="radio" name="viewBy" value="requestDate" (change)="selectedColor = 'green'" />
          <label class="lebel">Request date</label>
        </div>
  
        <div>
        </div>
  
        <div class="flex-row ">
          <input type="radio" name="viewBy" value="responseDate" (change)="selectedColor = 'green'" />
          <label class="lebel">Response date</label>
        </div>
        <div>
          <p class="left-heading my-2"> Date presets </p>
          <div class="flex-row">
            <input type="radio" name="datePresets" value="today" (change)="selectedColor = 'green'" />
            <label class="lebel">Today</label>
          </div>
  
          <div class="flex-row">
            <input type="radio" name="datePresets" value="week" (change)="updateSelectedRange('This Week')"/>
            <label class="lebel">This Week</label>
          </div>
  
          <div class="flex-row">
            <input type="radio" name="datePresets" value="month" (change)="updateSelectedRange('This Month')"/>
            <label class="lebel">This Month</label>
          </div>
          <div class="flex-row">
            <input type="radio" name="datePresets" value="year" (change)="updateSelectedRange('This Year')"/>
            <label class="lebel">This Year</label>
          </div>
          <div class="flex-row">
            <input type="radio" name="datePresets" value="quarter" (change)="updateSelectedRange('This Quarter')" />
            <label class="lebel">This Quarter</label>
          </div>
  
          <div class="flex-row">
            <input type="radio" name="datePresets" value="custom" (change)="selectedColor = 'green'" />
            <label class="lebel">Custom Range</label>
          </div>
       </div>
      </div>
  </div>
  </div>

 


